.home {
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-areas: "header" "content";
    height: 100vh;
    padding-left: 30px;
    padding-right: 30px;

    .header {
        .line {
            display: none;
        }
    }
    .content {
        grid-area: content;
        padding-top: 10px;

        div .line {
            border: 1px solid #e5e7eb;
        }
    }
}

@media only screen and (min-width: 768px) {
    .home {
        display: grid;
        grid-template-columns: 600px 1fr 600px;
        grid-template-rows: 100px 1fr;
        grid-template-areas:
            "paddingLeft header paddingRight"
            "paddingLeft content paddingRight"
            "paddingLeft . paddingRight";
    }
}
