.send-ether {
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas: "header" "content" "footer";
    height: 100vh;

    .content {
        grid-area: content;
    }
}

@media only screen and (min-width: 768px) {
    .send-ether {
        display: grid;
        grid-template-columns: 600px 1fr 600px;
        grid-template-rows: 100px 1fr 100px;
        grid-template-areas:
            "paddingLeft header paddingRight"
            "paddingLeft content paddingRight"
            "paddingLeft footer paddingRight";
    }
}
