html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

body, button {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
